*.ac
*.am
*.m4
.cache/
.cmakefiles.txt
CMakeLists.txt.user
Makefile.in
build/
build-*/
cmake-build*/
compile_commands.json
configure
gcovr/
include/agent_pp/agent++.h
include/snmp_pp/config_snmp_pp.h
m4/
